USE [qlchtraicay]
GO
/****** Object:  Table [dbo].[ctdh]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctdh](
	[madh] [varchar](5) NOT NULL,
	[mamh] [varchar](5) NOT NULL,
	[sl] [int] NOT NULL,
	[gb] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[madh] ASC,
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctpn]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctpn](
	[mapn] [varchar](5) NOT NULL,
	[mamh] [varchar](5) NOT NULL,
	[sln] [int] NOT NULL,
	[dgn] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mapn] ASC,
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dangnhap]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dangnhap](
	[tendn] [varchar](40) NOT NULL,
	[matkhau] [varchar](100) NULL,
	[makh] [varchar](5) NULL,
	[manv] [varchar](5) NULL,
	[quyen] [varchar](11) NULL,
	[avartar] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[tendn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donhang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donhang](
	[madh] [varchar](5) NOT NULL,
	[ngayban] [date] NOT NULL,
	[makh] [varchar](5) NOT NULL,
	[trangthai] [nvarchar](20) NULL,
	[manv] [varchar](5) NULL,
	[pttt] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[madh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giohang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giohang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[makh] [varchar](5) NOT NULL,
	[mamh] [varchar](5) NOT NULL,
	[soluong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makh] [varchar](5) NOT NULL,
	[tenkh] [nvarchar](100) NULL,
	[sdt] [varchar](10) NOT NULL,
	[diachi] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaimathang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaimathang](
	[maloai] [varchar](5) NOT NULL,
	[tenloai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mathang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mathang](
	[mamh] [varchar](5) NOT NULL,
	[tenmh] [nvarchar](100) NULL,
	[hinhanhmh] [varchar](200) NOT NULL,
	[soluong] [int] NOT NULL,
	[giaban] [int] NOT NULL,
	[dvtinh] [nvarchar](100) NULL,
	[maloai] [varchar](5) NOT NULL,
	[mota] [nvarchar](500) NULL,
	[tinhtrang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[mancc] [varchar](5) NOT NULL,
	[tenncc] [nvarchar](100) NULL,
	[diachi] [nvarchar](500) NULL,
	[dienthoai] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mancc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [varchar](5) NOT NULL,
	[tennv] [nvarchar](100) NULL,
	[diachi] [nvarchar](500) NULL,
	[sdtnv] [varchar](10) NULL,
	[luongcb] [int] NULL,
	[hesoluong] [decimal](3, 2) NULL,
	[hinhanhnv] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieunhap]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieunhap](
	[mapn] [varchar](5) NOT NULL,
	[ngaynhap] [date] NOT NULL,
	[mancc] [varchar](5) NOT NULL,
	[manv] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mapn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ctdh] ([madh], [mamh], [sl], [gb]) VALUES (N'DH001', N'MH002', 14, 100000)
INSERT [dbo].[ctdh] ([madh], [mamh], [sl], [gb]) VALUES (N'DH001', N'MH004', 12, 24000)
INSERT [dbo].[ctdh] ([madh], [mamh], [sl], [gb]) VALUES (N'DH001', N'MH006', 1, 17500)
GO
INSERT [dbo].[ctpn] ([mapn], [mamh], [sln], [dgn]) VALUES (N'PN001', N'MH001', 123, 130000)
INSERT [dbo].[ctpn] ([mapn], [mamh], [sln], [dgn]) VALUES (N'PN001', N'MH004', 30, 30000)
INSERT [dbo].[ctpn] ([mapn], [mamh], [sln], [dgn]) VALUES (N'PN002', N'MH006', 100, 17500)
GO
INSERT [dbo].[dangnhap] ([tendn], [matkhau], [makh], [manv], [quyen], [avartar]) VALUES (N'admin', N'AKLYMHNNIVEXItmRjNSGBAGOhiX3zM0KTWY8Fqj4p56aZVfKx4DOQap5IYjrRcxT8w==', N'KH002', N'NV001', N'admin', N'avatar.png')
INSERT [dbo].[dangnhap] ([tendn], [matkhau], [makh], [manv], [quyen], [avartar]) VALUES (N'BaoTran', N'ACyLnmrOwlzXJQlmrMfxlFgKCSIWmVqUvnnpy2fMhJLpF6LY1KZRfXEYD5oV4O5AZg==', N'KH003', N'NV004', N'nv', N'avatar.png')
INSERT [dbo].[dangnhap] ([tendn], [matkhau], [makh], [manv], [quyen], [avartar]) VALUES (N'ductai123', N'AO+g05jtXneKZDogOd9+Bv6NaOtpEnszTa0TrTHXV4S1xWlTIRNhP10jGIcrcNvUlA==', N'KH014', NULL, N'kh', N'avatar.png')
GO
INSERT [dbo].[donhang] ([madh], [ngayban], [makh], [trangthai], [manv], [pttt]) VALUES (N'DH001', CAST(N'2025-10-16' AS Date), N'KH002', N'Đã thanh toán', N'NV002', N'COD')
INSERT [dbo].[donhang] ([madh], [ngayban], [makh], [trangthai], [manv], [pttt]) VALUES (N'DH002', CAST(N'2025-10-13' AS Date), N'KH008', N'Đã thanh toán', N'NV002', N'COD')
INSERT [dbo].[donhang] ([madh], [ngayban], [makh], [trangthai], [manv], [pttt]) VALUES (N'DH003', CAST(N'2025-10-30' AS Date), N'KH011', N'Đã thanh toán', N'NV001', N'COD')
GO
SET IDENTITY_INSERT [dbo].[giohang] ON 

INSERT [dbo].[giohang] ([id], [makh], [mamh], [soluong]) VALUES (29, N'KH001', N'MH010', 2)
INSERT [dbo].[giohang] ([id], [makh], [mamh], [soluong]) VALUES (37, N'KH014', N'MH005', 3)
INSERT [dbo].[giohang] ([id], [makh], [mamh], [soluong]) VALUES (38, N'KH014', N'MH006', 1)
SET IDENTITY_INSERT [dbo].[giohang] OFF
GO
INSERT [dbo].[khachhang] ([makh], [tenkh], [sdt], [diachi]) VALUES (N'KH001', N'Trần Thị Thanh Vy', N'0385541159', N'Hàm Thuận Bắc, Lâm Đồng')
INSERT [dbo].[khachhang] ([makh], [tenkh], [sdt], [diachi]) VALUES (N'KH002', N'Nguyễn Thị Trúc Ly', N'0933327003', N'Phan Thiết, Lâm Đồng')
INSERT [dbo].[khachhang] ([makh], [tenkh], [sdt], [diachi]) VALUES (N'KH003', N'Ðặng Huỳnh Kiều Vy', N'0345678198', N'Mũi Né, Lâm Đồng')
GO
INSERT [dbo].[loaimathang] ([maloai], [tenloai]) VALUES (N'LH001', N'Trái Cây Có Múi')
INSERT [dbo].[loaimathang] ([maloai], [tenloai]) VALUES (N'LH002', N'Trái Cây Nhập Khẩu')
INSERT [dbo].[loaimathang] ([maloai], [tenloai]) VALUES (N'LH003', N'Trái Cây Nhiệt Đới')
GO
INSERT [dbo].[mathang] ([mamh], [tenmh], [hinhanhmh], [soluong], [giaban], [dvtinh], [maloai], [mota], [tinhtrang]) VALUES (N'MH003', N'Nho Úc', N'sanpham3.jpg', 76, 120000, N'Kilogram', N'LH002', N'Nho Úc là loại nho cao cấp được trồng tại các vùng khí hậu ôn hòa của Úc, nổi bật với hương vị ngọt đậm, mọng nước và thơm tự nhiên. Quả thường có kích thước lớn, vỏ mỏng, ít hạt hoặc không hạt, được ưa chuộng trong các bữa ăn nhẹ và dùng để làm quà biếu. Nho Úc không chỉ ngon mà còn giàu vitamin C, chất chống oxy hóa, tốt cho tim mạch và làn da.', N'Còn hàng')
GO
INSERT [dbo].[nhacungcap] ([mancc], [tenncc], [diachi], [dienthoai]) VALUES (N'NCC01', N'Công ty Cổ Phần Thương Mại Sài Gòn TNHH MTV (SATRA)', N'Số 12 Nguyễn Thái Bình,Phường Nguyễn Thái Bình, Quận 1,Thành phố Hồ Chí Minh, Việt Nam', N'0935467896')
INSERT [dbo].[nhacungcap] ([mancc], [tenncc], [diachi], [dienthoai]) VALUES (N'NCC02', N'CTCP Nông sản thực phẩm Quãng Ngãi ', N'Số 88 Đường Quang Trung,
Phường Nghĩa Lộ, Thành phố Quảng Ngãi,
Tỉnh Quảng Ngãi, Việt Nam
', N'0255382730')
INSERT [dbo].[nhacungcap] ([mancc], [tenncc], [diachi], [dienthoai]) VALUES (N'NCC03', N'Công Ty Cổ Phần Nông Sản Nam Đô', N'Số 45 Đường Nguyễn Tất Thành,
Phường Ea Tam, Thành phố Buôn Ma Thuột,
Tỉnh Đắk Lắk, Việt Nam
', N'0977928719')
GO
INSERT [dbo].[nhanvien] ([manv], [tennv], [diachi], [sdtnv], [luongcb], [hesoluong], [hinhanhnv]) VALUES (N'NV001', N'Nguyễn Lê Ngọc Bích', N'Phan Thiết, Lâm Đồng', N'0354758806', 2500000, CAST(0.50 AS Decimal(3, 2)), N'anh.jpg')
INSERT [dbo].[nhanvien] ([manv], [tennv], [diachi], [sdtnv], [luongcb], [hesoluong], [hinhanhnv]) VALUES (N'NV002', N'Nguyễn Thái Uy', N'Tân Thành, Lâm Đồng', N'0933244549', 150000, CAST(1.23 AS Decimal(3, 2)), N'anh.jpg')
INSERT [dbo].[nhanvien] ([manv], [tennv], [diachi], [sdtnv], [luongcb], [hesoluong], [hinhanhnv]) VALUES (N'NV003', N'Nguyễn Văn Tài', N'Lâm Đồng', N'0944334452', 150000, CAST(1.10 AS Decimal(3, 2)), N'NV003.jpg')
GO
INSERT [dbo].[phieunhap] ([mapn], [ngaynhap], [mancc], [manv]) VALUES (N'PN001', CAST(N'2025-10-07' AS Date), N'NCC01', N'NV001')
INSERT [dbo].[phieunhap] ([mapn], [ngaynhap], [mancc], [manv]) VALUES (N'PN002', CAST(N'2025-10-08' AS Date), N'NCC03', N'NV001')
INSERT [dbo].[phieunhap] ([mapn], [ngaynhap], [mancc], [manv]) VALUES (N'PN003', CAST(N'2025-10-08' AS Date), N'NCC01', N'NV001')
GO
ALTER TABLE [dbo].[donhang] ADD  DEFAULT ('?ang x? l?') FOR [trangthai]
GO
ALTER TABLE [dbo].[giohang] ADD  DEFAULT ('1') FOR [soluong]
GO
ALTER TABLE [dbo].[ctdh]  WITH CHECK ADD  CONSTRAINT [ctdh_ibfk_1] FOREIGN KEY([madh])
REFERENCES [dbo].[donhang] ([madh])
GO
ALTER TABLE [dbo].[ctdh] CHECK CONSTRAINT [ctdh_ibfk_1]
GO
ALTER TABLE [dbo].[ctdh]  WITH CHECK ADD  CONSTRAINT [ctdh_ibfk_2] FOREIGN KEY([mamh])
REFERENCES [dbo].[mathang] ([mamh])
GO
ALTER TABLE [dbo].[ctdh] CHECK CONSTRAINT [ctdh_ibfk_2]
GO
ALTER TABLE [dbo].[ctpn]  WITH CHECK ADD  CONSTRAINT [ctpn_ibfk_1] FOREIGN KEY([mapn])
REFERENCES [dbo].[phieunhap] ([mapn])
GO
ALTER TABLE [dbo].[ctpn] CHECK CONSTRAINT [ctpn_ibfk_1]
GO
ALTER TABLE [dbo].[ctpn]  WITH CHECK ADD  CONSTRAINT [ctpn_ibfk_2] FOREIGN KEY([mamh])
REFERENCES [dbo].[mathang] ([mamh])
GO
ALTER TABLE [dbo].[ctpn] CHECK CONSTRAINT [ctpn_ibfk_2]
GO
ALTER TABLE [dbo].[dangnhap]  WITH CHECK ADD FOREIGN KEY([makh])
REFERENCES [dbo].[khachhang] ([makh])
GO
ALTER TABLE [dbo].[dangnhap]  WITH CHECK ADD FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD  CONSTRAINT [donhang_ibfk_1] FOREIGN KEY([makh])
REFERENCES [dbo].[khachhang] ([makh])
GO
ALTER TABLE [dbo].[donhang] CHECK CONSTRAINT [donhang_ibfk_1]
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[giohang]  WITH CHECK ADD FOREIGN KEY([makh])
REFERENCES [dbo].[khachhang] ([makh])
GO
ALTER TABLE [dbo].[giohang]  WITH CHECK ADD FOREIGN KEY([mamh])
REFERENCES [dbo].[mathang] ([mamh])
GO
ALTER TABLE [dbo].[mathang]  WITH CHECK ADD  CONSTRAINT [mathang_ibfk_1] FOREIGN KEY([maloai])
REFERENCES [dbo].[loaimathang] ([maloai])
GO
ALTER TABLE [dbo].[mathang] CHECK CONSTRAINT [mathang_ibfk_1]
GO
ALTER TABLE [dbo].[phieunhap]  WITH CHECK ADD  CONSTRAINT [phieunhap_ibfk_1] FOREIGN KEY([mancc])
REFERENCES [dbo].[nhacungcap] ([mancc])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [phieunhap_ibfk_1]
GO
ALTER TABLE [dbo].[phieunhap]  WITH CHECK ADD  CONSTRAINT [phieunhap_ibfk_2] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [phieunhap_ibfk_2]
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD  CONSTRAINT [CK__donhang__trangth__5AEE82B9] CHECK  (([trangthai]=N'Đã hủy' OR [trangthai]=N'Đã thanh toán' OR [trangthai]=N'Chờ xử lý' OR [trangthai]=N'Đang giao hàng'))
GO
ALTER TABLE [dbo].[donhang] CHECK CONSTRAINT [CK__donhang__trangth__5AEE82B9]
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD  CONSTRAINT [CHK_PhuongThucThanhToan] CHECK  (([pttt]=N'VietQR' OR [pttt]=N'COD'))
GO
ALTER TABLE [dbo].[donhang] CHECK CONSTRAINT [CHK_PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[mathang]  WITH CHECK ADD CHECK  (([tinhtrang]=N'Hết hàng' OR [tinhtrang]=N'Còn hàng'))
GO
ALTER TABLE [dbo].[mathang]  WITH CHECK ADD  CONSTRAINT [CK_mathang_tinhtrang] CHECK  (([tinhtrang]=N'Hết hàng' OR [tinhtrang]=N'Còn hàng'))
GO
ALTER TABLE [dbo].[mathang] CHECK CONSTRAINT [CK_mathang_tinhtrang]
GO
/****** Object:  StoredProcedure [dbo].[sldhd]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sldhd]
as 
begin
Select count(madh) as slt from donhang where Month(ngayban)= Month(GETDATE()) and Year(ngayban) = Year(GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[sldhdh]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sldhdh]
as 
begin
select count(madh) as huy from donhang where Month(ngayban)= Month(GETDATE()) and Year(ngayban) = Year(GETDATE()) and trangthai=N'Đã hủy'
end
GO
/****** Object:  StoredProcedure [dbo].[sldhtt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sldhtt]
as 
begin
select count(madh) as sln from donhang where Month(ngayban)= Month(GETDATE()) and Year(ngayban) = Year(GETDATE()) and trangthai=N'Đã thanh toán'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_baocaodttn]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_baocaodttn]
AS
BEGIN
    WITH nam AS (
        SELECT YEAR(GETDATE()) AS nam
        UNION ALL SELECT YEAR(GETDATE()) - 1
        UNION ALL SELECT YEAR(GETDATE()) - 2
        UNION ALL SELECT YEAR(GETDATE()) - 3
        UNION ALL SELECT YEAR(GETDATE()) - 4
    )
    SELECT 
        nam.nam,dh.madh,dh.ngayban, khachhang.tenkh,nhanvien.tennv,mathang.tenmh,ctdh.sl,ctdh.gb,
        ISNULL(SUM(ctdh.sl * ctdh.gb), 0) AS doanhthu
    FROM nam
    JOIN donhang dh
        ON YEAR(dh.ngayban) = nam.nam
        AND dh.trangthai = N'Đã thanh toán'
    JOIN ctdh 
        ON ctdh.madh = dh.madh
	JOIN khachhang on khachhang.makh = dh.makh
	JOIN nhanvien on nhanvien.manv = dh.manv
	JOIN mathang on mathang.mamh=ctdh.mamh
    GROUP BY nam.nam,dh.madh,dh.ngayban, khachhang.tenkh,nhanvien.tennv,ctdh.sl,ctdh.gb,mathang.tenmh
    ORDER BY nam.nam;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_baocaodttq]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_baocaodttq]
AS
BEGIN
    WITH Quy AS (
        SELECT 1 AS quy UNION SELECT 2 UNION SELECT 3 UNION SELECT 4
    )
    SELECT 
        q.quy,dh.madh,dh.ngayban, khachhang.tenkh,nhanvien.tennv,mathang.tenmh,ctdh.sl,ctdh.gb,
        ISNULL(SUM(ctdh.sl * ctdh.gb), 0) AS doanhthu
    FROM Quy q
    JOIN donhang dh 
        ON (
            CASE 
                WHEN MONTH(dh.ngayban) BETWEEN 1 AND 3 THEN 1
                WHEN MONTH(dh.ngayban) BETWEEN 4 AND 6 THEN 2
                WHEN MONTH(dh.ngayban) BETWEEN 7 AND 9 THEN 3
                WHEN MONTH(dh.ngayban) BETWEEN 10 AND 12 THEN 4
            END
        ) = q.quy
        AND YEAR(dh.ngayban) = YEAR(GETDATE())
        AND dh.trangthai = N'Đã thanh toán'
   JOIN ctdh 
        ON dh.madh = ctdh.madh
	JOIN khachhang on khachhang.makh = dh.makh
	JOIN nhanvien on nhanvien.manv = dh.manv
	JOIN mathang on mathang.mamh=ctdh.mamh
    GROUP BY 
        q.quy,dh.madh,dh.ngayban, khachhang.tenkh,nhanvien.tennv,ctdh.sl,ctdh.gb,mathang.tenmh
    ORDER BY 
        q.quy;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_baocaodttt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_baocaodttt]
AS
BEGIN
    WITH Thang AS (
        SELECT 1 AS thang UNION SELECT 2 UNION SELECT 3 UNION SELECT 4
        UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8
        UNION SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12
    )
    SELECT 
        t.thang,dh.madh,dh.ngayban, khachhang.tenkh,nhanvien.tennv,mathang.tenmh,ctdh.sl,ctdh.gb,
        ISNULL(SUM(ctdh.sl * ctdh.gb), 0) AS doanhthu
    FROM Thang t
    JOIN donhang dh 
        ON MONTH(dh.ngayban) = t.thang
        AND YEAR(dh.ngayban) = YEAR(GETDATE())
        AND dh.trangthai = N'Đã thanh toán'
    JOIN ctdh 
        ON dh.madh = ctdh.madh
	JOIN khachhang on khachhang.makh = dh.makh
	JOIN nhanvien on nhanvien.manv = dh.manv
	JOIN mathang on mathang.mamh=ctdh.mamh
    GROUP BY 
        t.thang,dh.madh,dh.ngayban, khachhang.tenkh,nhanvien.tennv,ctdh.sl,ctdh.gb,mathang.tenmh
    ORDER BY 
        t.thang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_baocaonhtn]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_baocaonhtn]
AS
BEGIN
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @Nam TABLE (Nam INT);
    INSERT INTO @Nam
    VALUES 
        (@NamHienTai - 4),
        (@NamHienTai - 3),
        (@NamHienTai - 2),
        (@NamHienTai - 1),
        (@NamHienTai);
    SELECT
        ncc.tenncc,pn.ngaynhap,pn.mapn,m.tenmh,ct.sln,ct.dgn,
        n.Nam,
        ISNULL(SUM(ct.sln * ct.dgn), 0) AS TongChiTieu
    FROM nhacungcap ncc
		JOIN phieunhap pn ON pn.mancc = ncc.mancc
		JOIN @Nam n on YEAR(pn.ngaynhap) = n.Nam
		JOIN ctpn ct ON ct.mapn=pn.mapn
		join mathang m on m.mamh = ct.mamh
    GROUP BY
        ncc.tenncc,n.Nam,pn.mapn,ct.sln,ct.dgn,ct.mamh,m.tenmh,pn.ngaynhap
    ORDER BY
       n.Nam ,ncc.tenncc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_baocaonhtq]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_baocaonhtq]
AS
BEGIN
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @Quy TABLE (Quy INT);
    INSERT INTO @Quy
    VALUES (1),(2),(3),(4);
    SELECT
        ncc.tenncc,pn.ngaynhap,pn.mapn,m.tenmh,ct.sln,ct.dgn,
        q.Quy,
        ISNULL(SUM(ct.sln * ct.dgn), 0) AS TongChiTieu
    FROM nhacungcap ncc
		JOIN phieunhap pn ON pn.mancc = ncc.mancc
		JOIN @Quy q on YEAR(pn.ngaynhap) = @NamHienTai AND DATEPART(QUARTER, pn.ngaynhap) = q.Quy
		JOIN ctpn ct ON ct.mapn=pn.mapn
		join mathang m on m.mamh = ct.mamh
    GROUP BY
        ncc.tenncc,q.Quy,pn.mapn,ct.sln,ct.dgn,ct.mamh,m.tenmh,pn.ngaynhap
    ORDER BY
       q.Quy ,ncc.tenncc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_baocaonhtt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_baocaonhtt]
AS
BEGIN
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @Thang TABLE (Thang INT);
    INSERT INTO @Thang
    VALUES (1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12);
    SELECT
        ncc.tenncc,pn.ngaynhap,pn.mapn,m.tenmh,ct.sln,ct.dgn,
        t.Thang,
        ISNULL(SUM(ct.sln * ct.dgn), 0) AS TongChiTieu
    FROM nhacungcap ncc
		JOIN phieunhap pn ON pn.mancc = ncc.mancc
		JOIN @Thang t on YEAR(pn.ngaynhap) = @NamHienTai AND MONTH(pn.ngaynhap) = t.Thang
		JOIN ctpn ct ON ct.mapn=pn.mapn
		join mathang m on m.mamh = ct.mamh
    GROUP BY
        ncc.tenncc,t.Thang,pn.mapn,ct.sln,ct.dgn,m.tenmh,pn.ngaynhap
    ORDER BY
        t.Thang,ncc.tenncc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DemDonHangDangGiao]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemDonHangDangGiao]
AS
BEGIN
    SELECT COUNT(madh) AS SoLuongdondanggiao
    FROM donhang 
    WHERE trangthai = N'Đang giao hàng'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theoloai_thang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_doanhthu_theoloai_thang]
AS
BEGIN
    SELECT
        lm.tenloai,
        SUM(ctdh.sl * ctdh.gb) AS doanhthu
    FROM loaimathang lm
    JOIN mathang mh ON lm.maloai = mh.maloai
    JOIN ctdh ON mh.mamh = ctdh.mamh
    JOIN donhang dh ON dh.madh = ctdh.madh
    WHERE 
        MONTH(dh.ngayban) = MONTH(GETDATE())
        AND YEAR(dh.ngayban) = YEAR(GETDATE())
        AND dh.trangthai = N'Đã thanh toán'
    GROUP BY 
        lm.tenloai
    ORDER BY 
        doanhthu DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theoquy]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_doanhthu_theoquy]
AS
BEGIN
    WITH Quy AS (
        SELECT 1 AS quy UNION SELECT 2 UNION SELECT 3 UNION SELECT 4
    )
    SELECT 
        q.quy,
        ISNULL(SUM(ctdh.sl * ctdh.gb), 0) AS doanhthu
    FROM Quy q
    LEFT JOIN donhang dh 
        ON (
            CASE 
                WHEN MONTH(dh.ngayban) BETWEEN 1 AND 3 THEN 1
                WHEN MONTH(dh.ngayban) BETWEEN 4 AND 6 THEN 2
                WHEN MONTH(dh.ngayban) BETWEEN 7 AND 9 THEN 3
                WHEN MONTH(dh.ngayban) BETWEEN 10 AND 12 THEN 4
            END
        ) = q.quy
        AND YEAR(dh.ngayban) = YEAR(GETDATE())
        AND dh.trangthai = N'Đã thanh toán'
    LEFT JOIN ctdh 
        ON dh.madh = ctdh.madh
    GROUP BY 
        q.quy
    ORDER BY 
        q.quy;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_theothang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_doanhthu_theothang]
AS
BEGIN
    WITH Thang AS (
        SELECT 1 AS thang UNION SELECT 2 UNION SELECT 3 UNION SELECT 4
        UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8
        UNION SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12
    )
    SELECT 
        t.thang,
        ISNULL(SUM(ctdh.sl * ctdh.gb), 0) AS doanhthu
    FROM Thang t
    LEFT JOIN donhang dh 
        ON MONTH(dh.ngayban) = t.thang
        AND YEAR(dh.ngayban) = YEAR(GETDATE())
        AND dh.trangthai = N'Đã thanh toán'
    LEFT JOIN ctdh 
        ON dh.madh = ctdh.madh
    GROUP BY 
        t.thang
    ORDER BY 
        t.thang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu5NamGanNhat]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoanhThu5NamGanNhat]
AS
BEGIN
    WITH nam AS (
        SELECT YEAR(GETDATE()) AS nam
        UNION ALL SELECT YEAR(GETDATE()) - 1
        UNION ALL SELECT YEAR(GETDATE()) - 2
        UNION ALL SELECT YEAR(GETDATE()) - 3
        UNION ALL SELECT YEAR(GETDATE()) - 4
    )
    SELECT 
        nam.nam,
        ISNULL(SUM(ctdh.sl * ctdh.gb), 0) AS doanhthu
    FROM nam
    LEFT JOIN donhang 
        ON YEAR(donhang.ngayban) = nam.nam
        AND donhang.trangthai = N'Đã thanh toán'
    LEFT JOIN ctdh 
        ON ctdh.madh = donhang.madh
    GROUP BY nam.nam
    ORDER BY nam.nam;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DonHangTrongTuan]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DonHangTrongTuan]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Copy logic tính ngày đầu tuần từ SP lấy danh sách sang
    DECLARE @StartOfWeek DATE = DATEADD(wk, DATEDIFF(wk, 0, GETDATE()), 0); -- Ra ngày Thứ 2
    DECLARE @EndOfWeek DATE = DATEADD(day, 7, @StartOfWeek); -- Ra ngày Thứ 2 tuần sau

    -- 2. Đếm số lượng dựa trên khoảng thời gian này
    SELECT COUNT(madh) AS slt
    FROM donhang
    WHERE ngayban >= @StartOfWeek 
      AND ngayban < @EndOfWeek
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DSDonHangTrongTuan]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DSDonHangTrongTuan]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @StartOfWeek DATE = DATEADD(wk, DATEDIFF(wk, 0, GETDATE()), 0);
    DECLARE @EndOfWeek DATE = DATEADD(day, 7, @StartOfWeek);

    SELECT 
        d.madh, d.ngayban, k.tenkh, ISNULL(n.tennv, N'Đơn hàng đặt online') as tennv, d.trangthai, d.pttt
    FROM donhang as d
    JOIN khachhang as k ON d.makh = k.makh
    LEFT JOIN nhanvien as n ON n.manv = d.manv
    WHERE d.ngayban >= @StartOfWeek 
      AND d.ngayban < @EndOfWeek
    ORDER BY d.ngayban DESC, d.madh DESC; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dtt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_dtt]
as
begin
Select sum(gb*sl) as tongtien from ctdh join donhang on donhang.madh = ctdh.madh where Month(ngayban) = Month(GETDATE()) and Year(ngayban) = Year(GETDATE()) and trangthai=N'Đã thanh toán'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBestSellingProducts]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBestSellingProducts]
AS
BEGIN
    SELECT 
        m.mamh, 
        COUNT(ct.mamh) AS SoDonHang,
        SUM(ct.sl) AS TongSoLuongDaBan
    FROM 
        mathang m
    LEFT JOIN 
        ctdh ct ON m.mamh = ct.mamh
    GROUP BY 
        m.mamh
    ORDER BY 
        TongSoLuongDaBan DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lmhdt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_lmhdt]
as
begin
SELECT 
    lm.tenloai,
    SUM((ct.gb - pn.dgn_tb) * ct.sl) AS loinhuan
FROM ctdh ct
JOIN donhang dh ON dh.madh = ct.madh
JOIN mathang mh ON mh.mamh = ct.mamh
JOIN loaimathang lm ON lm.maloai = mh.maloai
JOIN (
        SELECT mamh, AVG(dgn) AS dgn_tb
        FROM ctpn
        GROUP BY mamh
     ) pn ON pn.mamh = ct.mamh
WHERE MONTH(dh.ngayban) = MONTH(GETDATE())
  AND YEAR(dh.ngayban) = YEAR(GETDATE())
  AND dh.trangthai = N'Đã thanh toán'
GROUP BY lm.tenloai
ORDER BY loinhuan DESC;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_LoaiMatHang_ThangNay]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoaiMatHang_ThangNay]
AS
BEGIN
    select tenloai, sum(sl) as soluong from mathang join loaimathang on loaimathang.maloai = mathang.maloai join ctdh on ctdh.mamh = mathang.mamh join donhang on donhang.madh=ctdh.madh 
	where Month(ngayban)= Month(GETDATE()) and Year(ngayban) = Year(GETDATE()) group by tenloai
END
GO
/****** Object:  StoredProcedure [dbo].[sp_mathangdetails]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_mathangdetails]
@mamh varchar(5)
as
begin
select donhang.madh,m.tenmh,donhang.makh,donhang.ngayban,ctdh.sl,ctdh.gb,(ctdh.sl*ctdh.gb) as thanhtien
from mathang as m join ctdh on ctdh.mamh = m.mamh 
join donhang on donhang.madh = ctdh.madh
where m.mamh = @mamh
end
GO
/****** Object:  StoredProcedure [dbo].[sp_pnt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_pnt]
as
begin
Select sum(dgn*sln) as tongtien from ctpn join phieunhap on phieunhap.mapn = ctpn.mapn where Month(ngaynhap) = Month(GETDATE()) and Year(ngaynhap) = Year(GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[sp_slmhhh]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_slmhhh]
AS
	select count(mamh) as hethang from mathang where tinhtrang=N'Hết hàng'
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_slmhnhap]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_slmhnhap]
AS
	select sum(COALESCE(sln,0)) as sln from ctpn join phieunhap on ctpn.mapn = phieunhap.mapn where Month(ngaynhap) = Month(GETDATE()) and Year(ngaynhap) = Year(GETDATE())
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_slttl]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_slttl]
AS
	SELECT tenloai, sum(soluong) as soluong FROM mathang join loaimathang on mathang.maloai = loaimathang.maloai group by tenloai
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongNhapHang_TheoNhaCungCap]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoLuongNhapHang_TheoNhaCungCap]
AS
BEGIN
    DECLARE @ThangHienTai INT = MONTH(GETDATE());
    DECLARE @NamHienTai   INT = YEAR(GETDATE());
    SELECT
        ncc.tenncc,
        SUM(ct.sln) AS TongSoLuongNhap
    FROM phieunhap pn
        INNER JOIN nhacungcap ncc ON pn.mancc = ncc.mancc
        INNER JOIN ctpn ct ON pn.mapn = ct.mapn
    WHERE
        MONTH(pn.ngaynhap) = @ThangHienTai
        AND YEAR(pn.ngaynhap) = @NamHienTai
    GROUP BY
        ncc.tenncc
    ORDER BY
        TongSoLuongNhap DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_tonkholk]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tonkholk]
AS
	WITH months AS (SELECT 1 AS thang UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12)
	,sanphamthang AS (SELECT sp.mamh, tenloai, tl.thang FROM mathang sp CROSS JOIN months tl inner join loaimathang on loaimathang.maloai = sp.maloai),
	tonkholuyke AS (SELECT st.tenloai,st.thang,(SELECT SUM(ctpn.sln) FROM ctpn JOIN phieunhap pn ON pn.mapn = ctpn.mapn 
	WHERE ctpn.mamh = st.mamh AND (YEAR(pn.ngaynhap) < YEAR(GETDATE()) OR (YEAR(pn.ngaynhap) = YEAR(GETDATE()) AND MONTH(pn.ngaynhap) <= st.thang))) AS tongnhaplk,
	(SELECT SUM(ctdh.sl) FROM ctdh JOIN donhang dh ON dh.madh = ctdh.madh WHERE ctdh.mamh = st.mamh AND (YEAR(dh.ngayban) < YEAR(GETDATE()) OR (YEAR(dh.ngayban) = YEAR(GETDATE()) AND MONTH(dh.ngayban) <= st.thang)) and trangthai=N'Đã thanh toán') AS tongbanlk FROM sanphamthang st)
	SELECT tenloai,thang,sum(COALESCE(tongnhaplk, 0) - COALESCE(tongbanlk, 0)) AS tonkholuyke FROM tonkholuyke group by tenloai, thang ORDER BY tenloai, thang
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Top5MatHang_ThangNay]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Top5MatHang_ThangNay]
AS
BEGIN
    SELECT TOP 5 
        tenmh,
        SUM(sl) AS soluongdat
    FROM donhang
    JOIN ctdh ON ctdh.madh = donhang.madh
    JOIN mathang ON ctdh.mamh = mathang.mamh
    WHERE MONTH(ngayban) = MONTH(GETDATE())
      AND YEAR(ngayban) = YEAR(GETDATE())
    GROUP BY tenmh
    ORDER BY soluongdat DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Top5MatHangNhapNhieuNhat]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Top5MatHangNhapNhieuNhat]
AS
BEGIN
    DECLARE @ThangHienTai INT = MONTH(GETDATE());
    DECLARE @NamHienTai INT   = YEAR(GETDATE());
    SELECT TOP 5
        sp.tenmh,
        SUM(ct.sln) AS TongSoLuongNhap
    FROM phieunhap pn
        INNER JOIN ctpn ct ON pn.mapn = ct.mapn
        INNER JOIN mathang sp ON ct.mamh = sp.mamh
    WHERE 
        MONTH(pn.ngaynhap) = @ThangHienTai
        AND YEAR(pn.ngaynhap) = @NamHienTai
    GROUP BY
        sp.tenmh
    ORDER BY
        TongSoLuongNhap DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_top5mhdt]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_top5mhdt]
as
begin
SELECT TOP 5
    mh.tenmh,
    SUM(ctdh.sl * ctdh.gb) AS doanhthu
FROM mathang mh
JOIN ctdh ON mh.mamh = ctdh.mamh
JOIN donhang dh ON dh.madh = ctdh.madh
WHERE 
    MONTH(dh.ngayban) = MONTH(GETDATE())
    AND YEAR(dh.ngayban) = YEAR(GETDATE())
    AND dh.trangthai = N'Đã thanh toán'
GROUP BY 
    mh.tenmh
ORDER BY 
    doanhthu DESC;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_top5slmh]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_top5slmh]
AS
	SELECT top 5 tenmh, soluong FROM mathang order by soluong desc
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeChiTieuNhapHangTheo5NamGanNhat]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeChiTieuNhapHangTheo5NamGanNhat]
AS
BEGIN
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @Nam TABLE (Nam INT);
    INSERT INTO @Nam
    VALUES 
        (@NamHienTai - 4),
        (@NamHienTai - 3),
        (@NamHienTai - 2),
        (@NamHienTai - 1),
        (@NamHienTai);
    SELECT
        ncc.tenncc,
        n.Nam,
        ISNULL(SUM(ct.sln * ct.dgn), 0) AS TongChiTieu
    FROM nhacungcap ncc
        CROSS JOIN @Nam n
        LEFT JOIN phieunhap pn
            ON pn.mancc = ncc.mancc
            AND YEAR(pn.ngaynhap) = n.Nam
        LEFT JOIN ctpn ct
            ON ct.mapn = pn.mapn
    GROUP BY
        ncc.tenncc,
        n.Nam
    ORDER BY
        ncc.tenncc,
        n.Nam
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeChiTieuNhapHangTheoQuy]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeChiTieuNhapHangTheoQuy]
AS
BEGIN
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @Quy TABLE (Quy INT);
    INSERT INTO @Quy
    VALUES (1),(2),(3),(4);
    SELECT
        ncc.tenncc,
        q.Quy,
        ISNULL(SUM(ct.sln * ct.dgn), 0) AS TongChiTieu
    FROM nhacungcap ncc
        CROSS JOIN @Quy q
        LEFT JOIN phieunhap pn
            ON pn.mancc = ncc.mancc
            AND YEAR(pn.ngaynhap) = @NamHienTai
            AND DATEPART(QUARTER, pn.ngaynhap) = q.Quy
        LEFT JOIN ctpn ct
            ON ct.mapn = pn.mapn
    GROUP BY
        ncc.tenncc,
        q.Quy
    ORDER BY
        ncc.tenncc,
        q.Quy;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeChiTieuNhapHangTheoThang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeChiTieuNhapHangTheoThang]
AS
BEGIN
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @Thang TABLE (Thang INT);
    INSERT INTO @Thang
    VALUES (1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12);
    SELECT
        ncc.tenncc,
        t.Thang,
        ISNULL(SUM(ct.sln * ct.dgn), 0) AS TongChiTieu
    FROM nhacungcap ncc
		CROSS JOIN @Thang t
		LEFT JOIN phieunhap pn
        ON pn.mancc = ncc.mancc
        AND YEAR(pn.ngaynhap) = @NamHienTai
        AND MONTH(pn.ngaynhap) = t.Thang
		LEFT JOIN ctpn ct
        ON ct.mapn = pn.mapn
    GROUP BY
        ncc.tenncc,
        t.Thang
    ORDER BY
        ncc.tenncc,
        t.Thang;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDHTheo5NamGanNhat]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeDHTheo5NamGanNhat]
AS
BEGIN
    WITH nam AS (
        SELECT YEAR(GETDATE())     AS nam
        UNION ALL SELECT YEAR(GETDATE()) - 1
        UNION ALL SELECT YEAR(GETDATE()) - 2
        UNION ALL SELECT YEAR(GETDATE()) - 3
        UNION ALL SELECT YEAR(GETDATE()) - 4
    )
    SELECT 
        loaimathang.tenloai,
        COUNT(DISTINCT ctdh.madh) AS soluongdh,
        nam.nam
    FROM nam
    LEFT JOIN donhang 
        ON YEAR(donhang.ngayban) = nam.nam
        AND donhang.trangthai = N'Đã thanh toán'
    LEFT JOIN ctdh 
        ON ctdh.madh = donhang.madh
    LEFT JOIN mathang 
        ON ctdh.mamh = mathang.mamh
    LEFT JOIN loaimathang 
        ON loaimathang.maloai = mathang.maloai
    GROUP BY loaimathang.tenloai, nam.nam
    ORDER BY nam.nam;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDHTheoQuy]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeDHTheoQuy]
AS
BEGIN
    WITH quy AS (
        SELECT 1 AS quy UNION SELECT 2 UNION SELECT 3 UNION SELECT 4
    )
    SELECT 
        loaimathang.tenloai,
        COUNT(DISTINCT ctdh.madh) AS soluongdh,
        quy.quy
    FROM quy
    LEFT JOIN donhang 
        ON DATEPART(QUARTER, donhang.ngayban) = quy.quy
        AND YEAR(donhang.ngayban) = YEAR(GETDATE())
        AND donhang.trangthai = N'Đã thanh toán'
    LEFT JOIN ctdh 
        ON ctdh.madh = donhang.madh
    LEFT JOIN mathang 
        ON ctdh.mamh = mathang.mamh
    LEFT JOIN loaimathang 
        ON loaimathang.maloai = mathang.maloai
    GROUP BY loaimathang.tenloai, quy.quy
    ORDER BY quy.quy;
END




GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDHTheoThang]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeDHTheoThang]
AS
BEGIN
    WITH months AS (
        SELECT 1 AS thang UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 
        UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 
        UNION SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12
    )
    SELECT 
        loaimathang.tenloai,
        COUNT(DISTINCT ctdh.madh) AS soluongdh,
        months.thang
    FROM months
    LEFT JOIN donhang 
        ON MONTH(donhang.ngayban) = months.thang
        AND YEAR(donhang.ngayban) = YEAR(GETDATE())
        AND donhang.trangthai = N'Đã thanh toán'
    LEFT JOIN ctdh ON ctdh.madh = donhang.madh
    LEFT JOIN mathang ON ctdh.mamh = mathang.mamh
    LEFT JOIN loaimathang ON loaimathang.maloai = mathang.maloai
    GROUP BY loaimathang.tenloai, months.thang
    ORDER BY months.thang;
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_XemCtdh]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_XemCtdh]
as
begin
select  
d.madh, d.ngayban, k.tenkh,k.sdt, m.tenmh, c.sl, c.gb, (sl* gb) as 'Thanhtien'
from donhang as d
join ctdh as c on d.madh = c.madh
join khachhang as k on d.makh = k.makh
join mathang as m on c.mamh = m.mamh
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_XemCtpn]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_XemCtpn]
as
begin
select  
p.mapn, p.ngaynhap, n.tenncc,n.dienthoai, m.tenmh, sln, dgn, (sln* dgn) as 'Thanhtien'
from phieunhap as p
join ctpn as c on p.mapn = c.mapn
join nhacungcap as n on p.mancc = n.mancc
join mathang as m on c.mamh = m.mamh
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_XemDH]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_XemDH]
as
begin
select d.madh, d.ngayban, k.tenkh, isnull(n.tennv,N'Đơn hàng đặt online') as tennv, d.trangthai,d.pttt
from donhang as d
join khachhang as k on d.makh = k.makh
left join nhanvien as n on n.manv = d.manv
end
GO
/****** Object:  StoredProcedure [dbo].[sp_XemMh]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_XemMh] 
as begin
select mamh, tenmh,soluong,giaban,dvtinh,hinhanhmh, tenloai, tinhtrang from mathang join loaimathang on mathang.maloai = loaimathang.maloai
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_XemPN]    Script Date: 25/12/2025 1:09:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_XemPN]
as
begin
select mapn, ngaynhap, tenncc, tennv from phieunhap as p
join nhacungcap as ncc on  p.mancc = ncc.mancc
join nhanvien as nv on p.manv = nv.manv
end
GO
